{% set file_path = request.args.get('file_path', ledger.fava_options['default-file'] or ledger.beancount_file_path) %}

<div style="margin-bottom: 20px">
    <label for="inst">Select Institution:</label>
    <select id="institution" name="inst">
        {% for i in institutions.keys() %}
        <option value="{{ i }}">{{ i }}</option>
        {% endfor %}
    </select>

    <button id="link-button">Link New Account</button>
</div>

<div>
    <table class="plaid-transactions">
        <thead>
            <tr><th>Amount</th><th>Date</th><th>Description</th><th>Payee</th></tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</div>


<script 
              src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.3/jquery.min.js"></script>
<script 
              src="https://cdn.plaid.com/link/v2/stable/link-initialize.js"></script>
    <script type="text/javascript">
(function($) {
      var handler = Plaid.create({
              clientName: 'fava-plaid',
              env: '{{ environment }}',
              key: '{{ public_key }}',
              product: ['transactions'],
              onLoad: function() {
                        // Optional, called when Link loads
                      },
              onSuccess: function(public_token, metadata) {
                        // Send the public_token to your app server.
                        // The metadata object contains info about the institution the
                        // user selected and the account ID or IDs, if the
                        // Select Account view is enabled.
                  $.post('/beancount/api/plaid_access_token', {
                                    public_token: public_token,
                                  });
                      },
              onExit: function(err, metadata) {
                        // The user exited the Link flow.
                        if (err != null) {
                                    // The user encountered a Plaid API error prior to exiting.
                            console.log(err);
                        }
                        // metadata contains information about the institution
                        // that the user selected and the most recent API request IDs.
                        // Storing this information can be helpful for support.
                      },
              onEvent: function(eventName, metadata) {
                        // Optionally capture Link flow events, streamed through
                        // this callback as your users connect an Item to Plaid.
                        // For example:
                        // eventName = "TRANSITION_VIEW"
                        // metadata  = {
                                  //   link_session_id: "123-abc",
                                  //   mfa_type:        "questions",
                                  //   timestamp:       "2017-09-14T14:42:19.350Z",
                                  //   view_name:       "MFA",
                                  // }
                      }
            });

      $('#link-button').on('click', function(e) {
              handler.open();
            });
})(jQuery);
    </script>
